@namespace Hack.Shared.Layout

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

<footer class="footer">
	<span class="company-name">ИСВС 2024</span>

	<div class="right-information">
		<NavLink href="/help">
			<span class="r-inf-text">Помощь</span>
		</NavLink>

	</div>

</footer>