@inherits LayoutComponentBase
@inject AuthService AuthService

<div class="page">
    <div class="content-wrapper">
        <NavMenu />
    <div class="main-page">
        <MainHeader />
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
    </div>
    <footer>
        <span class="company-name">ИСВС 2024</span>
        
    </footer>
</div>




@*<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
*@


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Проверяем статус авторизации только при первом рендере компонента
            await AuthService.CheckLoginStatus();
        }
    }

}