<div class="container AuthForm">
<form>
    <div class="mb-3">
        <label for="Login" class="form-label">Логин</label>
        <input type="text" class="form-control" id="Login" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>


@code {

}
