.AuthForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    min-height: 400px;
    border-radius: 50px;
    background-color: #22333B;
    color: #ffffff;
}

    .AuthForm > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

.form-label {
    display: block;
    text-align: center;
}
