<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://static.tildacdn.com/tild6431-3435-4636-b339-643861303164/002.svg" alt="company-icon" class="main-icon" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3 dropdown">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-projects-nav-menu" aria-hidden="true"></span> Проекты
            </NavLink>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Проект 1</a></li>
                <li><a class="dropdown-item" href="#">Проект 2</a></li>
                <li><a class="dropdown-item" href="#">Проект 3</a></li>
            </ul>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-documents-nav-menu" aria-hidden="true"></span> Договоры
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-reports-nav-menu" aria-hidden="true"></span> Отчёты
            </NavLink>
        </div>
    </nav>
</div>
