/* Основной стиль */

* {
    font-family: 'Montserrat', Arial, sans-serif;
}



.custom-container {
    margin: 20px;
}

/* Панель выбора */
.selection-panel {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown {
    flex: 1;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

    select:disabled {
        background-color: #e0e0e0;
    }

/* Список файлов */

