.page[b-ct0o0ozzjl] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ct0o0ozzjl] {
    flex: 1;
}

.sidebar[b-ct0o0ozzjl] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


.user-info[b-ct0o0ozzjl] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.user-name[b-ct0o0ozzjl] {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
}

.user-position[b-ct0o0ozzjl] {
    font-size: 12px;
    color: gray;
}

.profile-pic[b-ct0o0ozzjl] {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 10px;
}

.profile-link[b-ct0o0ozzjl] {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.top-row[b-ct0o0ozzjl] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ct0o0ozzjl]  a, .top-row[b-ct0o0ozzjl]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-ct0o0ozzjl]  a:hover, .top-row[b-ct0o0ozzjl]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-ct0o0ozzjl]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-ct0o0ozzjl] {
        justify-content: space-between;
    }

        .top-row[b-ct0o0ozzjl]  a, .top-row[b-ct0o0ozzjl]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-ct0o0ozzjl] {
        flex-direction: row;
    }

    .sidebar[b-ct0o0ozzjl] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ct0o0ozzjl] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-ct0o0ozzjl]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-ct0o0ozzjl], article[b-ct0o0ozzjl] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-ct0o0ozzjl] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-ct0o0ozzjl] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
